/* LAYOUT */
* {
	box-sizing: border-box;
}

.container {
	width: 1000px;
	margin: 15px auto 0;
	overflow: hidden;	
}

.layout-header {
	width: 100%;
	float: left;	
}

.content-wrapper {
	margin: 20px 0;
	width: 100%;
	float: left;

	.layout-main {
		width: 600px;
		float: left;
		@include border-radius(4px);
		padding: 25px 30px;
		background-color: #fff;		
	}

	.layout-sidebar {
		width: 380px;
		float: right;
		@include border-radius(4px);
		padding: 25px 30px;	

		h3 {
			margin: 0 0 20px 0;
		}	
	}
}

// MEDIA QUERIES
@media (min-width: 769px) and (max-width: 1030px) {
	.container {
		width: 100%;
	}

	.content-wrapper {
		margin: 20px 0;	

		.layout-main {
			width: 100%;
			margin-bottom: 20px;			
		}

		.layout-sidebar {
			width: 100%;

			& > div {
				width: 48%;				
			}
		}
	}
}

@media (max-width: 768px) {
	.container {
		width: 100%;
	}

	.content-wrapper {
		margin: 20px 0;	

		.layout-main {
			width: 100%;
			margin-bottom: 20px;			
		}

		.layout-sidebar {
			width: 100%;
		}
	}
}



