/* THEME */

.btn.btn-primary {
	background-color: $lightblue;
	color: #fff;
}

.rwd-menu {
	color: $darkblue;
	border-color: currentColor;
}

header {	
	border-bottom-color: $darkblue;	
	background-color: $lightblue;

	h1 {		
		a {
			color: #fff;		
		}
	}
}

nav {
	background-color: #fff;

	ul {
		li {
			a {				
				color: $greytext;	
			}				
		}
	}
}

.layout-main {
	background-color: #fff;	

	h2 {
		color: $lightblue;
	}	
}

.layout-sidebar {		
	background-color: #fff;

	h3 {
		color: $lightblue;			
	}	

	.image-of-the-week {
		border-bottom-color: #ccc;
	}
}

